.container {
  margin: 0 auto;
  width: 600px;
}

.header {
  margin: 24px 0 12px;
}

.nav {
  margin: 24px 0 24px;
}

.result {
  margin: 24px 0 24px;
}

#length {
  margin: 12px 0 12px;
}

.primer-info {
  margin: 24px 0 24px;
}

/* Source: http://snipplr.com/view/10979/css-cross-browser-word-wrap */
.wordwrap {
  white-space: pre-wrap;      /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap;     /* Opera <7 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* IE */
}

#error {
  color: #f00;
  margin: 24px 0 24px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

table, th, td {
  border: 1px solid black;
  margin: 12px 0 24px;
}

th {
  background-color: #aaa;
  font-size: 16px;
  padding: 8px 8px 4px;
  text-align: left;
}

td {
  padding: 4px 8px 4px;
  text-align: left;
}

textarea {
  margin: 8px 0;
  resize: none;
}
